= link_to show_user_path(user.id) do
  .user_card.pull-left
    %img.placeholder{ src: Gravatar.new(user.email).image_url }
    .name= link_to user.full_name, show_user_path(user.id)
    .role= link_to user.role, show_user_path(user.id)