.row-fluid
  .span6
    %h4 Topics
    = render @topics
    = will_paginate @topics, renderer: BootstrapPagination::Rails, param_name: :topics_page, page_links: false

  .span6
    %h4 Timeline
    = render @statuses
    = will_paginate @statuses, renderer: BootstrapPagination::Rails, param_name: :statuses_page, page_links: false