%td.left-response-data
  %img.timy-gravatar{ src: Gravatar.new(response.user.email).image_url }
  %p.post-author
    created by
  %p.post-author
    = link_to response.user.full_name, user_path(response.user)
%td.right-response-data
  %p.post-content= response.content


