// Place all the styles related to the responses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.response-box
  border: 1px lightgrey solid
  background-color: #f9f9f9

.hole-width
  width: 100%

.right-response-data
  vertical-align: text-top
  text-align: left

.left-response-data

.response
  border-top: 1px lightgrey solid
  margin-left: 0px !important

.response:first-child
  border-top: none