$greycolor: #9C9D9D;
$injixocolor: #059898;

.no-space-fouth-child [class*="span"]:nth-child(4n + 1) {
 margin-left: 0;
}

#team_tab_options
{
  li {
    text-align: center;
    a {
      color: $greycolor;
    }
  }
  .active {
    a {
      color: black;
      span { font-weight: bold; }
    }
  }
}

.team-icon {
  position: relative;
  top: 40px;
}

.team-detail {
  text-align: left;
  border-left: 1px solid darken($greycolor, 0%);
  padding-left: 10px;
  padding-right: 10px;
  height: 115px;
}

#team_name, #team_description { margin-bottom: 30px; }