#topic-list
  list-style-type: none

.topic-list-element
  font-size: large

#response-input
  width: 100%

.post-content
  font-size: medium

.topic-title
  font-size: 1.2em
  font-weight: bold

.topic-info
  font-size: 0.8em

.topic-list-elements
  display: table
  margin-top: 3px
  margin-bottom: 3px

.topic-list-cell
  float: none

.topic-left-cell
  vertical-align: middle
  text-align: center
  display: box

.center-icon
  vertical-align: middle
  text-align: middle

.topic-list-btn
  margin-bottom: 8px

.big_num
  font-weight: bold
  font-size: 180% !important

.small_text
  font-size: 0.8em

.responses
  text-align: center
  margin-right: -1% !important
  border-left: 1px solid #ddd
  border-right: 1px solid #ddd

.add-on
  height: 30px !important

.nmr
  margin-right: -3.8% !important