#topic-list
  list-style-type: none

.topic-list-element
  font-size: large

#response-input
  width: 100%

.post-content
  font-size: medium

.topic-title
  font-size: 1.2em
  font-weight: bold

.topic-info
  font-size: 0.8em